html {
    background-color: rgb(212, 85, 66);
    box-sizing: border-box;
    color: white;
    font-family: "Maven Pro", sans-serif;
}

img {
    width: 500px;
    height: 500px;
    background-image: url(./img/profiledefault.png);
}

img#smallLogo {
    width: 100px;
    height: 100px;
}

img#smallProfile {
    width: 50px;
    max-width: 75px;
    height: 50px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}

img.message {
    width: 50px;
    max-width: 75px;
    height: 50px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}

img#bigProfile {
    width: 200px;
    max-width: 300px;
    height: 200px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 1em;
}

img.findProfile {
    width: 100px;
    max-width: 300px;
    height: 100px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: 1px solid black;
    margin-top: 1em;
}

img.friendsProfile {
    width: 150px;
    max-width: 300px;
    height: 150px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: 1px solid black;
    margin-top: 1em;
}

div.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

div.profileEdit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div.otherProfile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div.otherP {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div.friendsProfiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

div#friendsAccepted {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div#friendsPending {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div.profileEditBio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 50px;
}

div.otherBio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 50px;
}

div#bioEditor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

div.profilePic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#userNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

div.userMenu {
    display: grid;
    grid-template-columns: 100px auto;
    border-bottom: 5px solid white;
    margin-left: -5px;
    margin-right: -5px;
}

div.uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    color: black;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    padding: 10px;
}

div.friendButton {
    margin-top: 10px;
}

div#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#chatContainer {
    position: relative;
    text-align: center;
    margin: auto;
    color: black;
    background-color: white;
    opacity: 0.8;
    border: 2px solid black;
    height: 350px;
    width: 80%;
    overflow-y: scroll;
}

div.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: rgb(255, 202, 202);
    border-radius: 10px;
}

div.messageText {
    text-align: left;
    margin-left: 10px;
}

div.messageSender {
    text-align: left;
}

div#userDeleteApprove {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea#textBioEdit {
    height: 100px;
}

textarea#message {
    height: 50px;
    width: 50%;
    margin: 10px;
}

input {
    margin: 10px;
}

input#userSearch {
    margin: 0px;
}

button#buttonBioEdit {
    margin-top: 5px;
}
button.deny {
    margin-top: 5px;
}

button#logout {
    font-size: large;
    background: none;
    font-size: medium;
    border: none;
    margin: 10px;
    padding: 0px;
    text-decoration: underline;
    color: white;
    font-family: "Maven Pro", sans-serif;
    cursor: pointer;
}

button#userDelete {
    margin-top: 5px;
    background-color: red;
    color: white;
}

button#deleteYes {
    background-color: red;
}

button#deleteNo {
    background-color: green;
    margin-top: 5px;
}

p.errorMessage {
    color: blue;
    font-style: italic;
    font-size: large;
}

p.closeModal {
    text-align: right;
    cursor: pointer;
    margin: 0px;
    align-self: flex-end;
    font-size: large;
}

p#bioEdit {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

p#bio {
    font-style: italic;
    text-align: left;
    margin-top: 0px;
}

p.friendProfiles {
    color: white;
    text-decoration: none;
    text-align: center;
}

p.message {
    margin: 0px;
}

p.messageSender {
    display: inline;
    margin: 0px;
    font-size: small;
    font-style: italic;
}

p.date {
    display: inline;
    font-size: small;
    color: gray;
    font-style: italic;
}

h3.findPeople {
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

h3#chat {
    color: white;
    text-decoration: none;
    text-align: center;
}

a {
    color: white;
}

a.nav {
    margin: 10px;
    color: white;
}

footer {
    margin-top: 20px;
}
